<aside class="site-sidebar">
    <div class="sidebar-left">
        <div class="sidebar-head">
           <a class="logo card" id="sidebar-avatar" href="{{ " / " | prepend: site.baseurl }}">
                <div class="word back">SINSY</div>
                <div class="monk font">
                  <div class="head_div">
                    <div class="head">
                      <div class="eyebrow">
                        <div></div>
                        <div></div>
                      </div>
                      <div class="eye">
                        <div class="l1"></div>
                        <div class="r1"></div>
                      </div>
                      <div class="nose"></div>
                      <div class="mouth"></div>
                      <div class="blusher">
                        <div class="l1"></div>
                        <div class="r1"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </a> 
        </div>
        <div class="sidebar-social">
          {% include social.html %}
        </div>
        <ul id="sidebar-tags" class="sidebar-tags">
    		    {% for category in site.categories %}
              <li><a href="/blog/#{{ category | first }}" class="blog-link" data-href="#{{ category | first }}">{{ category[0] }}</a></li>
            {% endfor %}
            <!-- <li><a href="/demo/">{{ site.locals.demo }}</a></li>  -->
            <li><a href="/tags/">{{ site.locals.tags }}</a></li>  
        </ul>
    </div>
</aside>
