/**
 * sidebar
 */
.site-sidebar{
	display:inline-block;
	background:#6BD2F7;
	width: 20%;
	height: 100%;
	position: absolute;
	left: 0;
}
.main{
	position: absolute;
	left: 20%;
	width: 80%;
	height: 100%;
	background: $background-color;
	overflow: scroll;
	padding: 20px;
}
