
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
	{% include sidebar.html %}
	<div class="main">

			{{ content }}

    		{% include footer.html %}
		
		
	</div>
	<div class="iframe-post" id="iframe-post">
		<div class="close" id="iframe-close">&times;</div>
		 <iframe class="content" id="iframe-content" src=""></iframe>
	</div>
   <script src="/public/js/zepto.js"></script>
   <script>
   	$('.article-link').on('click', function(){
   		$('#iframe-post').show();
   		$('#iframe-content').attr('src', $(this).attr('data-href'));
   	});
   	$('#iframe-close').on('click', function(){
   		$('#iframe-post').hide();
   	});
   </script>

  </body>

</html>
