<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include sidebar.html %}
<a class="post-close" id="post-close">↩</a>

<div class="iframe-post" style="display: block;">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline" data-tags="{{ page.categories | join: ' ' }}" id="dataTags">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date:"%Y年%m月%d日" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </header>
  
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  
  </article>
  {% include footer.html %}
</div>


<link rel="stylesheet" href="{{ "/public/component/prettify/prettify.css" | prepend: site.baseurl }}">
<script src="/public/js/zepto.js"></script>
<script src="/public/component/prettify/prettify.js"></script>
<script type="text/javascript">
  $(function(){
    const href = $('#dataTags').attr('data-tags')
    $('a[href="/blog/#' + href + '"]').parent().addClass('sel')
    $('#post-close').on('click', function(){
      if(history.length > 1){
        history.go(-1);

      }else{
        window.location.href='http://www.sinsy.top/blog/#前端';
      }
      
    });
    $("pre").addClass("prettyprint");
    prettyPrint();

  });
</script>
  
</body>